PORT=
NODE_ENV=
MONGO_URI=
GOOGLE_API_KEY=
MAIL_HOST=
MAIL_USER=
MAIL_PASS=
MAIL_EMAIL=
FRONTEND_URL=
JWT_SECRET=
MISTRAL_API_KEY=
TAVILY_KEY=
PINE_CODE=
CORSORIGIN1=http://localhost:5173
CORSORIGIN2=http://localhost:3000
GOOGLE_CLIENT_ID=
CLIENT_SECRET=
IMAGE_KIT=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=